.section-technologies {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    min-height: 250px;
}

.box-technologies {
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
}

.box-cards-technologies {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 90px;
    height: 100px;
}

.image-technologie {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.7s;
}

.card-technologies:hover .image-technologie {
    transform: rotate3d(0, 1, 0, 1turn);
}

.name-technologie {
    text-align: center;
    color: var(--primary);
    font-size: 16px;
    text-transform: capitalize;
}