.section-aboutme {
    display: flex;
    height: 400px;
    padding: 30px 10%;
    align-items: center;
    margin: 50px 0px;
    gap: 10px;
    border-top: 1px solid #ffffff22;
    border-bottom: 1px solid #ffffff22;
    
    
    background: rgba(35, 38, 57, 10%);
}
.aboutme-box-image {
    height: 100%;
    position: relative;
}
.aboutme-box-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    
    width: 80vw;
    height: 100px;

    transform: translateY(99%);
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 20px;
}
.aboutme-image {
    height: 100%;
}
.aboutme-box-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutme-box-text > .text {
    line-height: 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}