.section-form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 40px;
}

.box-form {
    overflow: hidden;
    position: relative;
    height: fit-content;
    width: 70%;
    border: 1px solid #ffffff6e;
    border-radius: 20px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: rgba(35, 38, 57, 10%);
}
.box-form::before,
.box-form::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 0; 
}

.box-form::before {
    width: 300px; 
    height: 300px;
    left: 100px; 
    bottom: 100px; 
    background: radial-gradient(circle, rgba(66, 13, 189, 0.4), transparent);
    filter: blur(100px); 
}

.box-form::after {
    width: 250px;
    height: 100%;
    right: 80px;
    top: 80px;
    background: radial-gradient(circle, rgba(110, 70, 229, 0.5), transparent);
    filter: blur(100px);
}
form {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
form input {
    color: var(--color3);
    width: 230px;
    height: 50px;
    background: #ffffff0d;

    outline: none;
    border-radius: 25px;
    border: 1px solid white;
    padding: 0px 20px;
}
form input.button {
    cursor: pointer;
}