.section-projects {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.box-projects {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap:  30px 60px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 221, 0.09);
    padding-bottom: 10px; 
    transition: border 0.3s;
}
.card-project:hover {
    border: 1px solid #ffffff7d ;
}
.image-project {
    width: 100%;
    height: 135px;
}
.card-projects-text {
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 5px;

}

.details-project {
    font-size: 12px;
    color: #ffffff72;
    text-transform: uppercase;
}
.section-projects .button {
    margin-top: 20px;
}

.card-project {
    opacity: 0; /* Começa invisível */
    transform: translateY(100%);
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
