.section-experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 40px;
    
}

.box-experiences {
    position: relative;
    height: fit-content;
    width: 70%;
    border: 1px solid #ffffff6e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background: rgba(35, 38, 57, 10%);
}
.box-experiences::before,
.box-experiences::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: 0; 
}

.box-experiences::before {
    width: 300px; 
    height: 300px;
    left: 100px; 
    bottom: 100px; 
    background: radial-gradient(circle, rgba(66, 13, 189, 0.4), transparent);
    filter: blur(100px); 
}

.box-experiences::after {
    width: 250px;
    height: 250px;
    right: 80px;
    top: 80px;
    background: radial-gradient(circle, rgba(110, 70, 229, 0.5), transparent);
    filter: blur(100px);
}

.row-experiences {
    display: grid;
    grid-template-columns: 150px 50px 700px;
    
    justify-content: center;
    margin-top: 50px;
    
    
}
.row-experiences:nth-child(4) > .circle-experiences > span {
    display: none;
}
.circle-experiences {
    position: relative;
    background: #232639;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-experiences::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--color3);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.circle-experiences span {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #dadada85;
    height: 130px;
    width: 1px;
    transform: translateX(-50%);
}

.box-text-experiences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    padding-top: 4px;
}
.box-text-experiences p {
    color: #dadadae2;
}